nav ul {
  list-style-type: none;
  background-color: blue;
  padding-left: 0px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: arial;
  color: #303030;
}

nav ul li a:hover {
  background-color: #585917;
  color: #ffffff;
}

header img {
  width: 300px;
}

#hours {
  width: 275px;
  border: 3px solid black;
}

#hours th,
#hours td {
  border: 1px solid black;
}
